<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="align="left""> 
  <div class="row">
    <h5>Для создания этого проекта я использовала:</h5>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <br>
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Яндекс Практикум
        </li>
      </ul>
    </aside>
  </div>
</div>
{% endblock %}